{% layout 'layout.liquid'%}
{% block content %}
<div class="container-sm">
    <form action="/savedGames/addGame" method="POST">
        <fieldset>
            <legend>Tell us if you've played {{ game.title }} in local co-op mode!</legend>
            <label class="form-label">Have Played Local Co-Op:</label>
            <input 
                checked
                type="checkbox" 
                name="hasPlayed" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Save Game" class="btn btn-success">
    </form>
</div>
{% endblock %}