{% layout 'layout.liquid' %}
{% block content %}
    <div id="home-div">
        <h1>welcome to steamee</h1>
        <p>This app is all about friends and unicorns</p>
        <a href="https://www.vecteezy.com/free-vector/mist">Mist Vectors by Vecteezy</a>
    </div>
{% endblock %}