{% block content %}
    <div class="card card-comment mb-4 shadow">
        <div class="card-body">
            <p style="margin: 5px;">{{ comm.note }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ comm.author.username }}</small>
                {% if comm.author == userId %}
                    <form action="/comments/delete/{{ game.id }}/{{ comm.id }}?_method=DELETE" method="POST">
                        <input
                        type="submit"
                        class="btn delete"
                        value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}