{% layout "layout.liquid" %}
{% block content %}
    <div class="home-page container-md" style="background-image: url('https://cdn.pixabay.com/photo/2016/03/26/22/42/love-1281655_960_720.jpg')!important;">
        <h1 class="error">{{error}}</h1>
    </div>
{% endblock %}