{% layout 'layout.liquid' %}
{% block content %}
<style>

</style>
    <div class="home-page">
        <div class="container-lg">
            <div class="home-div">
                <h1>welcome to <span class="steamee-style">steamee</span></h1>
                <p clas="home-1">the best local co-op games.</p>
                <p class="home-2">from you...for you...and a friend.</p>
            </div>
            <div class="container-fluid text-center">
                <hr style="margin: 20px;">
                <div class="home-3">
                    <ul class="home">
                        <li class="home"><p>Are you tired of searching for good local co-op games, just to come across the same handful of titles over and over?</p></li>
                        <li class="home"><p>Are you tired of trying to sort through which games are actually fun to play in local co-op?</p></li>
                        <li class="home"><p>Do you know any good local co-op games that you think the rest of us are missing out on?</p></li>
                    </ul>
                </div>
                <h3 class="home-h3">If you answered YES to any of these questions, you are in the right place!</h3>
                <a href="/games" class="btn my-btn" style="margin-top: 0!important">get steamee</a>
            </div>
        </div>
    </div>
{% endblock %}