{% block content %}
<nav class="navbar navbar-expand-md navback" ]>
    <div class="container-fluid">
        <a href="/" class="navbar-brand">steamee</a>
        {% if loggedIn %}
        <a href="/savedGames/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if loggedIn %}
                <li class="nav-item dropdown">
                    <a class="nav-link nav-text dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">get steamee</a>
                    <ul class="dropdown-menu navlistback">
                    <li class="nav-item"><a href="/games" class="nav-link nav-text">steamee suggestions</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">get steamee</a>
                    <ul class="dropdown-menu">
                    <li class="nav-item"><a href="/games" class="nav-link nav-text">steamee suggestions</a></li>
                    </ul>
                </li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">give steamee<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/games/store" class="nav-link nav-text">Steam inspiration</a></li>
                        <li></li><a href="/games/newForm" class="nav-link nav-text">create suggestion</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">my steamee<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <a href="/savedGames/mine" class="nav-link nav-text">My Saved Games</a>
                        <a href="/auth/logout" class="nav-link nav-text">Log Out</a>
                    </ul>
                </div>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">my steamee<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <a href="/auth/signup" class="nav-link nav-text">Sign Up</a>
                        <a href="/auth/login" class="nav-link nav-text">Sign In</a>
                    </ul>
                </div>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}