body {
    background-color: #2d0100;
    color: #FF8F8D;
    font-family: 'Rubik', cursive;
}
.dropdown-toggle:hover {
    color: #FDAF8B!important;
}
.navback {
    background-color: #ab382a;
    font-family: 'Poiret One', cursive;
}
h1, h2, h3 {
    font-family: 'Poiret One', cursive;
}
.navlistback {
    background-color: #c84231;
}
.dropdown-menu:hover {
    color: #FDAF8B!important;
}
.home-page {
    background-image: url('https://images.pexels.com/photos/220057/pexels-photo-220057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;   
    top: 59px;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Poiret One', cursive;
}
.navlogo {
    color: #FF8F8D;
    font-family: 'Monoton', cursive;
    text-shadow: #2d010072 1px 1px 5px, #ff6966 2px 2px 1px, #2d010072 3px 3px 5px, #ff4642 4px 4px 1px, #2d010072 5px 5px 5px,#ff231e 6px 6px 1px,#2d010072 7px 7px 5px, #f90500 8px 8px 1px, #2d010072 9px 9px 5px, #d60400 10px 10px 1px, #2d010072 11px 11px 5px, #2d0100 12px 12px 10px, -1px -1px 3px #e1d8d8;
}
.steamee-style {
    color: #FF8F8D;
    font-family: 'Monoton', cursive;
    text-shadow: #2d010072 2.5px 2.5px 5px, #ff6966 5px 5px 1px, #2d010072 7.5px 7.5px 5px, #ff4642 10px 10px 1px, #2d010072 12.5px 12.5px 5px,#ff231e 15px 15px 1px,#2d010072 17.5px 17.5px 5px, #f90500 20px 20px 1px, #2d010072 22.5px 22.5px 5px, #d60400 25px 25px 1px, #2d010072 27.5px 27.5px 5px, #2d0100 30px 30px 10px, -1px -1px 3px #e1d8d8;
}
#home-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url('https://cdn.pixabay.com/photo/2017/02/10/14/05/heart-2055204_960_720.png');
    background-size: cover;
    height: 400px;
    width: 650px;
}
#home-div:first-of-type h1 {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 100px;
    text-align: center;
    text-shadow: #d60400 2px 5px 3px, -1px -1px 3px #e1d8d8;
}
#home-div:first-of-type p {
    margin: 0 auto;
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    color: #e08e84;
    text-shadow: #6b0200 2px 5px 3px, -1px -1px 3px #e1d8d8;
}


