{% layout 'layout.liquid' %}
{% block content %}
{% comment %}
nothing directs to this page from the user's perspective
{% endcomment %}
<div class="container-sm">
    <form action="/games?_method=PUT" method="POST">
        <fieldset>
            <fieldset>
                <legend>Edit Your Recommended Game</legend>
                <label class="form-label">Title: </label>
                <input 
                    type="text" 
                    name="title" 
                    class="form-control"
                    value="{{ game.title }}"
                    required
                >
                <label class="form-label">Logo:</label>
                <input 
                    type="text" 
                    name="logo" 
                    class="form-control"
                    value="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ game.logo }}"
                >
                <label class="form-label">Type:</label>
                <input 
                    type="text" 
                    name="type" 
                    class="form-control"
                    placeholder="enter game type (e.g., video game, board game)"
                    value="{{ game.type }}"
                >
                <label class="form-label">Steam App ID:</label>
                <input 
                    type="number" 
                    name="steamId" 
                    class="form-control"
                    value="{{ game.steamId }}"
                >
        </fieldset>
        <input type="submit" value="Edit Game" class="btn btn-success">
    </form>
</div>
{% endblock %}