{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/games" method="POST"></form>
        <fieldset>
            <legend>Create New Game</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                class="form-control"
                value="{{ gameInfo.title }}"
                required
            >
            <label class="form-label">Logo:</label>
            <input 
                type="text" 
                name="logo" 
                class="form-control"
                value="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ gameInfo.tiny_capsule }}"
            >
            <label class="form-label">Type:</label>
            <input 
                type="text" 
                name="type" 
                class="form-control"
                placeholder="enter game type (e.g., video game, board game)"
                value="video game"
            >
            <label class="form-label">Steam App ID:</label>
            <input 
                type="number" 
                name="steamId" 
                class="form-control"
                value="{{ gameInfo.appid }}"
            >
            {%-comment-%}
            <label class="form-label">Have Played:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            >
            {%-endcomment-%}
        </fieldset>
        <input type="submit" value="Save Game" class="btn btn-success">
    </form>
</div>
{% endblock %}